<main>
    <div class="cards-block">
        <app-graph-title [graphTitle]="graphTitle"></app-graph-title>
        <div class="cards-list">
            <app-graph-card [cardTxt]="nbOfEntriesTxt" [cardValue]="nbOfEntriesValue"></app-graph-card>
            <app-graph-card [cardTxt]="nbOfMedalsTxt" [cardValue]="nbOfMedalsValue"></app-graph-card>
            <app-graph-card [cardTxt]="nbOfAthletesTxt" [cardValue]="nbOfAthletesValue"></app-graph-card>
        </div>
        <ngx-charts-line-chart [animations]="animations" [customColors]="customColors" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
            [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"  [results]="datasGraphLine"
         [autoScale]="autoScale">
        </ngx-charts-line-chart>
        <button routerLink="/" title="Back to dashboard">Back</button>
    </div>

</main>