::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    color: white !important;
    padding: 0px 25px;
    background-color: #2F808E !important;
    font-size: 1rem !important;

    .tooltip-caret.position-top {
        border-top-color: #2F808E !important;
    }
}


.cards-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-self: center;


    > :nth-child(1) {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cards-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        > :nth-child(1),
        :nth-child(2),
        :nth-child(3) {
            height: 100%;
            min-height: 100%;
            width: 33%;
            padding: 0 25px;
        }
    }

    .graph-line {
        min-width: 100%;
        width: 100%;
    }
}

button {
    max-width: 50%;
    min-width: 25%;
    justify-self: center;
}

@media screen and (max-width: 800px) {
    .cards-block {
        flex-direction: column;
        max-width: 100%;
        width: 100%;

        .cards-list {
            flex-direction: column;
            width: 100%;
            height: auto;
            justify-content: center;
            align-items: center;

            > :nth-child(1),
            :nth-child(2),
            :nth-child(3) {
                width: 80%;
                margin-bottom: 10px;
                padding: 0;

            }
        }
    }

    .graph-line {
        max-height: 75vh;
        min-height: 75vh;
        max-width: 90vw;
        min-width: 90vw;
   
    }
}

@media screen and (min-width: 800px) {
    .graph-line {
        min-height: 70vh;
        max-width: 70vw;
        min-width: 70vw;
    }
}