.card {
    border: #04838F 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        margin: 0;
        text-align: center;
    }

    .card-text {
        color: rgb(80, 80, 80);
        text-align: center;
        padding: 10px 0 0 0;
    }

    .card-value {
        font-weight: 600;
        padding: 10px 0px;
    }
}

