#nav {
    top: 0;
    margin: 0;
    background-color: white;
    border-bottom: #04838F solid 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0;
    align-items: center;
    min-height: 70px;
    min-width: 100vw;
    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
}