::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
    color: white !important;
    padding: 0px 25px;
    background-color: #2F808E !important;
    font-size: 0.75rem !important;
        .tooltip-caret.position-top {
                border-top-color: #2F808E !important;
            }
}