/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
    letter-spacing: 0.25px;
}

body {
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    padding: 0;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: visible;

    button {
        background: #04838F;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            background: #025057;
        }
    }

}


main {
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 800px) {
    main {
        justify-content: center;
        min-width: 100vw;
        max-width: 100vw;
        max-height: auto;
    }
}


@media screen and (max-width: 800px) {
    main {
        justify-content: center;
        min-width: 100vw;
        max-width: 100vw;
        min-height: 70vh;
        max-height: auto;

    }
}