/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
    letter-spacing: 0.25px;
}

body {
    height: 100%;
    margin: 0px;

}

main {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
}